body {
  background-color : $bg;
	color            : $fontcolor;
  text-align       : left;
  font-family      : Verdana,
                     Geneva,
                     Tahoma,
                     sans-serif;

  &:before {
    content    : " ";
    display    : block;
    height     : 3px;
    background : $red;
  }
}

.button-primary {
  padding       : 5px 20px;
  border        : 1px solid $blue-sel ;
  border-radius : 2px;
  background    : $blue ;
  box-shadow    : 1px 1px 4px $blue ;

	    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

h1 {
  text-align  : left;
  font-size   : 2.2em;
  font-weight : 100;
}
