.request-section {
	max-width: 1170px;
	//padding: 20px 20px 0 20px;
	margin: 60px auto 0;
}

.format-type-form {
	position: relative;

	.dropdown-menu  {
		right: 0;
		top: 35px;
	}
}

.request-url {
  margin: 10px 0 10px;
}

aside {
	float: right;
}
