.request-section {
	max-width: 1170px;
	padding: 20px;
	margin: 60px auto 20px;
}

.format-type-form {
	position: relative;

	.dropdown-menu  {
		right: 0;
		top: 33px;
	}
}

aside {
	float: right;
}
